<div class="editor-pair">
    <h5>Textarea (two way binding, update <em>oninput</em> event)</h5>
    <div class="editor">
        <textarea @bind="Editor1Value" @bind:event="oninput"></textarea>
    </div>
    <h5>Monaco</h5>
    <div class="editor monaco">
        <MonacoEditor @bind-Value="Editor1Value"/>
    </div>
</div>