@using BlazorMonacoEditor.Components;

@page "/"

<PageTitle>Demo: Monaco Editor</PageTitle>

<div class="page">
    <div class="editors">
        <Editors/>
    </div>
    <div class="custom-types">
        <CustomTypes/>
    </div>
</div>